@font-face {
    font-family: 'Raleway';
    font-family: 'Raleway';
    src: url('Font_Raleway/Raleway-Bold.eot');
    src: url('Font_Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('Font_Raleway/Raleway-Bold.woff2') format('woff2'),
        url('Font_Raleway/Raleway-Bold.woff') format('woff'),
        url('Font_Raleway/Raleway-Bold.ttf') format('truetype'),
        url('Font_Raleway/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body
{
    font-family: 'Raleway', Arial, Georgia, 'Times New Roman', serif;
}

span
{
    color: black;
}

/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: auto;
    margin: 0 40px;
}

header a
{
    text-decoration: none;
    color: #828282;
    height: 100px;
}

nav
{
    display: flex;
    align-items: center;
}

nav a
{
    display: flex;
    align-items: center;
    padding: 0 15px;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

#inscription
{
    color:#0065FC;
}

#inscription:hover
{
    border: none;
}

/* MAIN (SECTION 1 - Formulaire & Filtres)*/

main
{
     margin: 0 40px;
}

h1 + p
{
    color: #828282;
}

form
{  
   width: auto;
   display: flex;
   border-radius: 15px 0px 0px 15px;
}

.fa-map-marker-alt
{
    padding: 15px;
    background-color: #F2F2F2;
    color: #0065FC;
    border-radius: 15px 0px 0px 15px;
}

input
{
    border: 1px solid #F2F2F2;
}

::placeholder
{
    color: black;
    font-weight: bold;
}

.formulaire
{
    width: 25%;
    font-size: 1em;
    padding: 0px 20px;
}

.formsearch
{
    background: #0065FC;
    font-size: 1em;
    font-weight: bold;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    position: relative;
    right: 20px;
}

.formsearch:hover
{
    cursor: pointer; 
}

#divfiltres
{
    width: auto;
    color: black;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

#filtres1 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 145px;
    height: 38px;
    padding-right: 5px;
    margin: 0 20px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#filtres1 a:hover
{
    color: #0065FC;
}

.fa-money-bill-wave
{
    padding: 10px 10px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC; 
}

#filtres2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 38px;
    padding-right: 8px;
    margin: 0 20px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#filtres2 a:hover
{
    color: #0065FC;
}

.fa-child
{
    padding: 10px 14px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC; 
}

#filtres3
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 38px;
    padding-right: 5px;
    margin: 0 20px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#filtres3 a:hover
{
    color: #0065FC;
}

.fa-heart
{
    padding: 10px 12px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    background-color:#DEEBFF;
    color: #0065FC; 
}

#filtres4
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 38px;
    padding-right: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
}

#filtres4 a:hover
{
    color: #0065FC;
}

.fa-dog
{
    padding: 10px 11px;
    border: 2px solid #DEEBFF;
    border-radius: 25px;
    background-color: #DEEBFF;
    color: #0065FC; 
}

.lienfiltres
{
    color: black;
    text-decoration: none;
}

#info
{
    color: #828282;
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.fa-info
{
    padding: 8px 12px;
    margin-right: 10px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color:  #0065FC;
}

/* MAIN (SECTION 2 - Hébergements*/

#flexsectionaside
{
    display: flex;
    justify-content: space-between;
}

#section2
{
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    background-color:#F2F2F2 ;
    border-radius: 10px;
}

#flexsection2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#flexsection2 a
{
    text-decoration: none;
    width: 30%;
    height: 200px;
    margin-bottom: 10px;
}

.blocksection2
{
    display: flex;
    flex-direction: column;
    height: 180px;
    margin-bottom: 15px;
    padding: 5px 5px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.blocksection2 img
{
    object-fit: cover;
    height: 60%;
    border-radius: 10px 10px 0 0;   
}

.blocksection2 h3
{
    font-size: 1em;
    padding-left: 10px;
    padding-top: 4px;
    margin: 0;
    color: black; 
}
    
.blocksection2 p
{
    font-size: 0.9em;
    color:#828282 ;
    padding-left: 10px;
    margin-top: 0;
}

.starhebergement
{
    display: flex;
    padding-left: 10px;
    color: #0065FC;
}

.afficherplus
{
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 17px;
}

/* MAIN (ASIDE)*/

aside
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#F2F2F2 ;
    border-radius: 10px;
}

.fa-chart-line
{
    font-size: 1.4em;
}

#flexaside
{
    display: flex;
    flex-direction: column;
}

#flexaside a
{
    text-decoration: none;
}

.blockaside
{
    display: flex;
    height: 125px;
    padding: 5px 5px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.blockaside img
{
    object-fit: cover;
    width: 40%;
    border-radius: 10px 0 0 10px;    
}

.texteaside
{
    width: 45%;
    margin-left: 10px;
    margin-top: 10px;
}

.blockaside h3
{
    font-size: 1em;
    color: black;
    margin: 0;
}

.blockaside p
{
    font-size: 0.9em;
    color:#828282 ;
    position: relative;
    bottom: 12px;
}

.staraside
{
    display: flex;
    color: #0065FC;
    position: relative;
    top: 10px;
}

/* MAIN (SECTION 3 - Activités)*/

#section3
{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}

#flexsection3
{
    display: flex;
    justify-content: space-between;
}

.lienact1-4
{
    width: 20%;
    text-decoration: none;
}

.activite1-4 
{
    display: flex;
    flex-direction: column-reverse;
    height: 375px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.activite1-4 img
{
    object-fit: cover;
    height: 86%;
    border-radius: 10px 10px 0 0;    
}

.activite1-4 h3
{
    font-size: 1em;
    margin-left: 10px;
    color: black;
}

.divflexsection3
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    height: 375px;
}

#lienact2
{
    text-decoration: none;
    width: auto;
}

#activite2
{
    display: flex;
    flex-direction: column-reverse;
    height: 180px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

#activite2 img
{
    object-fit: cover;
    height: 70%;
    border-radius: 10px 10px 0 0;    
}

#activite2 h3
{
    font-size: 1em;
    padding-left: 10px;
    color: black;
}

#lienact3
{
    width: auto;
    text-decoration: none;
}

#activite3
{
    display: flex;
    flex-direction: column-reverse;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

#activite3 img
{
    object-fit: cover;
    height: 70%;
    border-radius: 10px 10px 0 0;    
}

#activite3 h3
{
    font-size: 1em;
    padding-left: 10px;
    color: black;
}

#lienact5
{
    text-decoration: none;
}

#activite5
{
    display: flex;
    flex-direction: column-reverse;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

#activite5 img
{
    object-fit: cover;
    height: 65%;
    border-radius: 10px 10px 0 0;    
}

#activite5 h3
{
    font-size: 1em;
    padding-left: 10px;
    color: black;
}

#lienact6
{
    text-decoration: none;
}

#activite6
{
    display: flex;
    flex-direction: column-reverse;
    height: 160px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

#activite6 img
{
    object-fit: cover;
    height: 75%;
    border-radius: 10px 10px 0 0;    
}

#activite6 h3
{
    font-size: 1em;
    padding-left: 10px;
    color: black;
}

/* FOOTER*/

footer
{
     width: auto;
     display: flex;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 35px;
     background-color:#F2F2F2;
}

footer a
{
    color: #828282;
    text-decoration: none;
    margin-bottom: 10px;
}

#div1footer
{
      display: flex;
      flex-direction: column;
      margin-right: 150px
}

#div2footer
{
      display: flex;
      flex-direction: column;
      margin-right: 150px
}

#div3footer
{
      display: flex;
      flex-direction: column;
}

/* - Petits écrans (< 768 px) */

@media all and (max-width: 768px)
{
    header,main 
    {
        margin-left: 10px;
        margin-right: 10px;
    }
    header 
    {
        flex-wrap: wrap;
    }
    nav 
    {
        justify-content: center;
        flex-wrap: wrap-reverse;
        height: 50px;
        width: 100%;
        position: relative;
        border-bottom: 2px solid #F2F2F2;
    }
    nav a 
    {
        justify-content: center;
        flex-direction: row-reverse;
        height: 50px;
        width: 40%;
        position: relative;
    }
    #inscription
    {
        justify-content: flex-start;
        flex-basis: 100%;
        width: 100%;
    }
    nav a:hover
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        border-top: none;
    }
    #section1
    {
        margin: 0 10px
    }
    form 
    {
        margin-top: 20px;
    }
    .formulaire
    {
        width: 100%;
    }
    .fa-search
    {
        padding: 13px 15px;
        border: 2px solid #DEEBFF;
        border-radius: 15px;
        background-color:#0065FC;
        color: white; 
        position: relative;
        right: 20px;
    }
    .fa-search
    {
        cursor: pointer;
    }
    .formsearch
    {
        display: none;
    }
    #divfiltres
    {
        width: auto;
        flex-wrap: wrap;
        font-size: 0.9em;
        margin-top: 10px;
    }
    #divfiltres p 
    {
        display: flex;
        flex-basis: 100%;
    }
    #filtres1
    {
        margin: 0 5px;
        width: 135px;
    }
    #filtres2
    {
        margin: 0 5px;
        width: 100px;
    }
    #filtres3
    {
        margin-left: 5px;
        margin-top: 5px;
        width: 130px;
    }
    #filtres4
    {
        margin-left: 5px;
        margin-top: 5px;
        width: 175px;
    }
    #info
    {
        font-size: 0.9em;
        margin-bottom: 10px;
        margin-top: 0;
    }
    #section2
    {
        width: auto;
        margin-top: 20px;
        background-color: white;
    }
    #flexsection2
    {
        flex-direction: column;
    }
    #flexsection2 a
    {
      width: 100%;
    }
    aside
    {
        width: auto;
        flex-direction: row;
    }
    #flexsectionaside
    {
        flex-direction: column-reverse;
    }
    .texteaside
    {
        width: 55%;
    }
    #flexsection3
    {
        flex-direction: column;
    }
    #flexsection3 a
    {
        width: 95%;
        margin-bottom: 5px;
        margin-top: 10px;
        margin-left: 20px;
    }
    #flexsection3 div
    {
        width: 95%;
        margin-bottom: 30px;
        margin-top: 10px;
    }
    .activite1-4
    {
        width: 95%;
        height: 125px;
        margin-top: 12px;
    }
    .activite2
    {
        width: 95%;
        height: 125px;
    }
    .activite3
    {
        width: 95%;
        height: 125px;
    }
    .activite5
    {
        width: 100%;
        height: 125px;
    }
    .activite6
    {
        width: 100%;
        height: 125px;
    }
    #section3 h2
    {
        padding-bottom: 20px;
        margin-left: 15px;
    }
    footer 
    {
        width: auto;
        flex-direction: column;
        font-size: 0.9em;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #div1footer
    {
      margin-right: 70px;
    }
    #div2footer
    {
      margin-right: 70px;
    }
    #div3footer
    {
      margin-right: 70px;
    }
}

/* - Tablettes (768 px - 991 px) */

@media all and (min-width: 769px) and (max-width: 991px)
{
    form 
    {
        margin-top: 20px;
    }
    .fa-search
    {
        visibility: hidden;
    }
    #divfiltres
    {
        font-size: 0.9em;
        margin-top: 10px;
    }
    #filtres1
    {
        margin: 0 5px;
        width: 135px;
    }
    #filtres2
    {
        margin: 0 5px;
        width: 100px;
    }
    #filtres3
    {
        margin: 0 5px;
        width: 130px;
    }
    #filtres4
    {
        margin: 0 5px;
        width: 175px;
    }
    #info
    {
        font-size: 0.9em;
        margin-bottom: 10px;
        margin-top: 0;
    }
    #flexsectionaside
    {
        flex-direction: column-reverse;
    }
    #section2
    {
        width: auto;
        margin-top: 20px;
    }
    #section2 h2
    {
        text-align: center;
    }
    #flexsection2 a
    {
      width: 33%;
    }
    aside
    {
        width: auto;
        flex-direction: row;
        justify-content: center;
    }
    .fa-chart-line
    {
        position: relative;
        left: 15px;
    }
    .staraside
    {
        position: relative;
        top: 25px;
    }
    #section3 h2
    {
        text-align: center;
        padding-bottom: 20px;
    }
    footer 
    {
        width: auto;
        font-size: 0.9em;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #div1footer
    {
      margin-right: 70px;
    }
    #div2footer
    {
      margin-right: 70px;
    }
    #div3footer
    {
      margin-right: 70px;
    }
}

/* - Ordinateurs (992 px - 1199 px) */

 @media all and (min-width: 992px) and (max-width: 1199px) 
{
    .fa-search
    {
        visibility: hidden;
    }
    #flexsectionaside
    {
        flex-direction: column;
    }
    #section2
    {
        width: auto;
        margin-bottom: 20px;
    }
      aside
    {
        width: auto;
        flex-direction: column;
    }
    .fa-chart-line
    {
        position: relative;
        bottom: 42px;
        left: 140px;
    }
    .blockaside
    {
        position: relative;
        bottom: 15px;
    }
    .staraside
    {
        position: relative;
        top: 25px;
    }
}

/* Grands écrans + de 1199px */

@media all and (min-width: 1199px) 
{
    .fa-search
    {
        visibility: hidden;
    }
}