@font-face {
    font-family: 'Raleway';
    src: url('Font_Raleway/Raleway-Regular.eot');
    src: url('Font_Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('Font_Raleway/Raleway-Regular.woff2') format('woff2'),
        url('Font_Raleway/Raleway-Regular.woff') format('woff'),
        url('Font_Raleway/Raleway-Regular.ttf') format('truetype'),
        url('Font_Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
    min-width: 992px;
    font-family: 'Raleway', Arial, Georgia, 'Times New Roman', serif;
    font-size: 1em;
}

body a
{
    text-decoration: none;
    color: rgba(0,0,0,.92);
}

/* HEADER */

header
{
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
}

nav
{
    display: flex;
    height: 107px;
}

nav a
{
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 0px 20px 15px 20px;
    height: 107px;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC;
}

#inscription
{
    color:#0065FC ;
}

#inscription:hover
{
    border: none;
}

/* MAIN */
