@font-face {
    font-family: 'Raleway';
    src: url('Font_Raleway/Raleway-Regular.eot');
    src: url('Font_Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('Font_Raleway/Raleway-Regular.woff2') format('woff2'),
        url('Font_Raleway/Raleway-Regular.woff') format('woff'),
        url('Font_Raleway/Raleway-Regular.ttf') format('truetype'),
        url('Font_Raleway/Raleway-Regular.svg#Raleway-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}